{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text:'收单对账管理'
                },
                {
                    text: '服务商流水表'
                }
            ]
        )
    }}
{# 数据过滤器 #}
<div class="filter-table-wrap fn-mt-20">
    <table class="filter-table">
        <colgroup>
            <col style="width: 30%">
            <col style="width: 30%">
            <col style="width: 24%">
        </colgroup>
        <tr>
            <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>起始日期
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="fliter-inline-width1">
                        <div class="form-control-date smallsize">
                        <span class="form-control-date-btn">
                            <i></i>
                        </span>
                            <input class="form-control" type="text" value="" data-toggle="datetimepicker" placeholder="YYYY-MM-DD" />
                        </div>
                    </div>

                </div>
            </td>
            <td>
                <!-- <div class="form-control-wrap smallsize">
                    <input type="text" class="form-control smallsize" placeholder="账号名称搜索">
                </div> -->
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>终止日期
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <div class="fliter-inline-width1">
                            <div class="form-control-date smallsize">
                        <span class="form-control-date-btn">
                            <i></i>
                        </span>
                                <input class="form-control" type="text" value="" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <!-- <div class="form-control-wrap smallsize">
                    <input type="text" class="form-control smallsize" placeholder="姓名搜索">
                </div> -->
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>商户名称
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <input type="text" class="form-control smallsize" placeholder=" ">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- <div class="form-control-wrap smallsize">
                    <input type="text" class="form-control smallsize" placeholder="姓名搜索">
                </div> -->
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>支付通道
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                            <option value="">
                                全部
                            </option>
                            <option value="">
                               支付宝
                            </option>
                            <option value="">
                              微信
                            </option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <!-- <div class="form-control-wrap smallsize">
                    <input type="text" class="form-control smallsize" placeholder="姓名搜索">
                </div> -->
                <div class="form-group inline-filter">
                    <label class="form-control-label" style="width: 95px !important;">
                            <span>付款人账号
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize fn-ml-20 ">
                        <input type="text" class="form-control smallsize" placeholder="">
                    </div>
                </div>
            </td>

            <td>
                <div class="text-align-right plural-btns">
                    <button type="button" class="btn primary small-btn">查找</button>
                    <button type="button" class="btn secondary small-btn">重置</button>
                    <!--<button type="button" class="btn secondary small-btn" onclick="window.location.href='系统管理-账号管理-添加账号.html'">添加账号</button>-->
                </div>
            </td>
        </tr>
    </table>
</div>


{{
contentBoxAlpha.default(
list = [
{
title:'付款交易金额',
content:'714'
},
{
title:'退款交易金额',
content:'8.56'
}, {
title:'付款交易机构总分润费',
content:'714'
}, {
title:'退款交易机构总分润费',
content:'714'
}
]
)
}}



    <table class="table inverse">
        <colgroup>
            <col />
            <col width="10%"/>
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>序号</th>
                <th>交易时间</th>
                <th>分润服务商</th>
                <th>商户名称</th>
                <th>付款人账号</th>
                <th>支付通道</th>
                <th>系统交易金额</th>
                <th>分润金额</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td >
                    <span  >2017-01-21</span>
                    <span  >15:45:54</span>
                </td>
                <td>xx地推公司</td>
                <td>
                    九毛九
                </td>
                <td>4457454</td>
                <td>支付宝</td>
                <td>357.00</td>
                <td>4.28</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    2017-01-21 15:45:54
                </td>
                <td>xx地推公司</td>
                <td>
                    九毛九
                </td>
                <td>25415125</td>
                <td>支付宝</td>
                <td>357.00</td>
                <td>4.28</td>
            </tr>

            <!-- 暂无记录 -->
            <!-- <tr>
                <td colspan="8" class="empty">&nbsp;
                </td>
            </tr> -->
        </tbody>
    </table>

{# 分页 #}
{{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>
    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();
</script>
{% endblock %}
