{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-角色管理.html',
                    text: '系统管理'
                },
                {
                    link: '系统管理-角色管理.html',
                    text: '角色管理'
                },
                {
                    text: '编辑角色'
                }
            ]
        )
    }}

    {# 表单 #}
    <form action="" autocomplete="off">
        <div class="form-frame fn-mt-20">
            <div class="form-layer1">
                <div class="form-layer2">

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>角色名称
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" value="运营">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <span>备注
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" rows="5" style="max-width: 100%; width: 100%; height: auto">新员工</textarea>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        {# 权限 #}
        <h3 class="fn-mt-20 fn-mb-10">权限设置</h3>
        <div class="permission-table-wrap">
            <div class="ptName">
                <h3>机构管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt1">
                        <tr>
                            <td rowspan="4">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt1 :checkbox">
                                    本机构详情
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    管理员
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    收单费率
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    启用/禁用
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt2">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt2 :checkbox">
                                    创建子机构
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt3">
                        <tr>
                            <td rowspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt3 :checkbox">
                                    服务方案列表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    添加
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>通道管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt4">
                        <tr>
                            <td rowspan="3">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt4 :checkbox">
                                    通道列表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    编辑
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    启用/禁用
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt5">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt5 :checkbox">
                                    创建通道
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>商户合同管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt6">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt6 :checkbox">
                                    创建合同
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt7">
                        <tr>
                            <td rowspan="4">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt7 :checkbox">
                                    合同列表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    修改
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看关联商户
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    设置关联服务方案
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>关联商户管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt8">
                        <tr>
                            <td rowspan="7">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt8 :checkbox">
                                    商户列表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    编辑
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    层级
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    合同
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    终端
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    管理员
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    启用/禁用
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt9">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt9 :checkbox">
                                    创建商户
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>关联终端管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt10">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt10 :checkbox">
                                    分配终端
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt11">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt11 :checkbox">
                                    机器终端列表
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt12">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt12 :checkbox">
                                    装机记录
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt13">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt13 :checkbox">
                                    撤机记录
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt14">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt14 :checkbox">
                                    激活码管理
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt15">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt15 :checkbox">
                                    二维码收款管理
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>收单对账管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt16">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt16 :checkbox">
                                    总账报表
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt17">
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt17 :checkbox">
                                    挂销账报表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    销账
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt18">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt18 :checkbox">
                                    服务商流水表
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt19">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt19 :checkbox">
                                    服务商结算表
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>账务报表查询</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt20">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt20 :checkbox">
                                    收银交易记录
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt21">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt21 :checkbox">
                                    交易数据统计
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt22">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt22 :checkbox">
                                    机构分润对账单
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt23">
                        <tr>
                            <td colspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt23 :checkbox">
                                    商户分润对账单
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table-wrap fn-mt-20">
            <div class="ptName">
                <h3>系统管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td rowspan="3">
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    账号管理
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    编辑
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    启用/禁用
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td rowspan="3">
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    角色管理
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    编辑
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox" checked disabled>
                                    启用/禁用
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-align-center">
            <div class="plural-btns btn-with-viceLink fn-mt-20">
                <button type="button" class="btn primary" id="submit">提交</button>
                <a href="系统管理-角色管理.html" class="btn default">取消</a>
            </div>
        </div>

    </form>

{% endblock %}

{% block jsPage %}
<script>
    $(function(){
        $("#submit").on("click",function(){
            $.tipsModal({
                close:  close ,
                // modalTitle:"test",
                type : 'success',   //success info error
                title : '<span class="success-FontColor2">提交成功！</span>',
                content : '即将跳转到角色管理页面',
            });
        });
    });
</script>
{% endblock %}
