<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="copyright" content="本页版权归www.frontpay.cn所有·All Rights Reserved" />
        <meta name="description" content="xxx" />
        <meta name="keywords" content="xxx" />
        <meta name="Robots" content="all" />
        <title>xxxxxx</title>

        <link rel="stylesheet" href="./css/main.css?v={{ version }}">

        <!--[if IE 8]>
		    <link rel="stylesheet" type="text/css" href="{{ static }}/css/ie-8.css?v={{ version }}">
        <![endif]-->

        <!--[if lt IE 8]>
		    <link rel="stylesheet" type="text/css" href="{{ static }}/css/ie-76.css?v={{ version }}">
        <![endif]-->

    </head>

    <body>
      <!--内容-->
      <div class="nav-content nav1-content">
          <div class="updatepage">
              <h1 class="text-align-center fn-mb-20">浏览器版本太低</h1>
              <h3 class="text-align-center fn-mb-40">由于当前浏览器的安全功能较差，为保障您资金的安全性，建议使用现代浏览器或升级IE浏览器版本8.0或以。</h3>
              <ul class="logo clearfix">
                  <li class="ie">
                      <a href="http://rj.baidu.com/soft/detail/23253.html" style="display:block;" class="logo-pic fn-mb-5"><img src="./images/ie.png"></a>
                      <a href="http://rj.baidu.com/soft/detail/23253.html"  class="h4">IE浏览器最新版</a>
                  </li>
                  <li class="google">
                      <a href="http://www.google.cn/chrome/browser/desktop/index.html" style="display:block;" class="logo-pic fn-mb-5"><img src="./images/google.png"></a>
                      <a href="http://www.google.cn/chrome/browser/desktop/index.html"  class="h4">chrome浏览器最新版 </a>
                  </li>
              </ul>
              <br/>
              <h3 class="text-align-center fn-mb-20 ">
                如果你已经在使用IE8或以上版本的IE浏览器，或者现代浏览器，请手动关闭
                <a href="http://jingyan.baidu.com/article/fcb5aff791bb47edaa4a7115.html" class="link-standard" target="_blank">浏览器兼容模式浏览设置</a>
              </h3>
          </div>
      </div>

    </body>
</html>
