{% extends "_layout/alpha/layout-alpha-operation.html" %} {# 加载页面专有样式表 #} {% block css %}
<link rel="stylesheet" href="{{ static }}/js/webuploader/style.css">
<link rel="stylesheet" href="{{ static }}/js/clockpicker/jquery-clockpicker.min.css"> {% endblock %} {# 内容 #} {% block content %} {# 路径导航 #} {{ breadCrumbAlpha.default( list = [ { link: 'javascript:void(0);', text: '商户管理' },{ text: '创建门店' } ] ) }}

<div class="form-frame">
	<form autocomplete="off">

		<!-- 属性配置-->
		<div class="form-title">
			属性配置
		</div>
		<div class="form-layer1">
			<div class="form-layer2">

				{# 所属机构 #}
				<div class="form-group">
					<label class="form-control-label">
                          <b> * </b>
                          <span> 所属机构 </span>
                          <em> ：</em>
                      </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" id="agencyName" placeholder="" value="" readonly="readonly" />
						<input type="hidden" class="form-control" id="agencyId" name="agencyId" placeholder="" value="" />
						<a href="#selectAgency" data-toggle="modal" class="form-control-tools-link">选择机构</a>
					</div>
				</div>

				{# 商户名称 #}
				<div class="form-group">
					<label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 商户名称 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" id="MerchantName" placeholder="" value="" readonly="readonly" />
						<input type="hidden" class="form-control" id="MerchantId" name="MerchantId" placeholder="" value="" />
					
						<a href="#selectChildChannel" data-toggle="modal" class="form-control-tools-link">选择商户</a>
					</div>
				</div>
				{# 门店角色 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 门店名称 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />
					</div>
				</div>

				{# 门店类型 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 门店简称 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />

						<!--  <select class="form-control" disabled=disabled>
                            <option value="0">企业</option>
                            <option value="1">个体户</option>
                        </select>-->
					</div>
				</div>

				{# 所在省份 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 所在省份 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<select class="form-control" id="payFont">
							<option value="0">请选择</option>
							<option value="1">广东省</option>
						</select>
					</div>
				</div>
				{# 所在城市 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 所在城市 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<select class="form-control" id="payFont">
							<option value="0">请选择</option>
							<option value="1">广东省</option>
						</select>
					</div>
				</div>
				{# 所在区县 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 所在区县 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<select class="form-control" id="payFont">
							<option value="0">请选择</option>
							<option value="1">广东省</option>
						</select>
					</div>
				</div>
				{# 详细地址 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 详细地址 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />
					</div>
				</div>
				{# 客服电话 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b>  </b>
                        <span> 客服电话 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />
					</div>
				</div>
				{# *线上线下 #}
               <!--     <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 线上线下 </span>
                          <em> ：</em>
                       </label>
                       <div class="form-control-wrap">
                           <select class="form-control">
                              <option value="0">线下实体店</option>
                          </select>
                       </div>
                       </div>-->
				{# 所属行业 #}
				<!--<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 所属行业 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<div class="form-control-cascade-three">
							<select class="form-control">
								<option value="">主分类</option>
								<option value="1">美食</option>
								<option value="2">购物</option>
								<option value="3">景点</option>
								<option value="4">休闲娱乐</option>
							</select>
						</div>
						<div class="form-control-cascade-three">
							<select class="form-control">
								<option value="">二级分类</option>
								<option value="1">1.1</option>
								<option value="1">1.2</option>
							</select>
						</div>
						<div class="form-control-cascade-three">
							<select class="form-control">
								<option value="">三级分类</option>
								<option value="1">1.1</option>
								<option value="1">1.2</option>
							</select>
						</div>
					</div>
				</div>
			-->
			</div>
		</div>

		<!-- 门店联系人信息-->
		<div class="form-title">

			门店联系人信息
		</div>
		<div class="form-layer1">
			<div class="form-layer2">

				{# 联系人姓名 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 联系人姓名 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />
					</div>
				</div>

				{# 联系人类型 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 联系人类型 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<select class="form-control" id="payFont">
							<option value="0">请选择</option>
							<option value="1">法人</option>
						</select>
					</div>
				</div>
				{# 联系人身份证号 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 联系人身份证号 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control" placeholder="" value="" />
					</div>
				</div>
				{# 联系人手机号码 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 联系人手机号码 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control"   placeholder="与联系人邮件二选一必填" />
					</div>
				</div>
				{# 联系人邮箱 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b> * </b>
                        <span> 联系人邮箱 </span>
                        <em> ：</em>
                    </label>
					<div class="form-control-wrap">
						<input type="text" class="form-control"  placeholder="与联系人电话号码二选一必填" />
					</div>
				</div>
			</div>
		</div>

          {# 图片资料 #}
            <div class="form-title">
              图片资料
            </div>
            <div class="form-layer1">
                <div class="form-layer2">

                   <!-- 整体门面（含招牌） -->
                    <div class="form-group">

                        <label class="form-control-label">
                            <b>*</b>
                            <span>整体门面（含招牌）
用于各终端展示调用</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!-- <button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button> -->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="./static/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="./static/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="picture-detail">
                            <p>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</p>
                        </div>
                    </div>
                    <!-- 门店LOGO -->
                    <div class="form-group">

                        <label class="form-control-label">
                            <span>门店LOGO</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!-- <button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button> -->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="./static/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="./static/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="picture-detail">
                            <p>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</p>
                        </div>
                    </div>
                   <!-- 收银台 -->
                    <div class="form-group">

                        <label class="form-control-label">
                            <b></b>
                            <span>收银台</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!-- <button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button> -->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="./static/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="./static/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="picture-detail">
                            <p>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</p>
                        </div>
                    </div>
                    <!-- 店内环境 -->
                    <div class="form-group">

                        <label class="form-control-label">
                            <b></b>
                            <span>店内环境</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!-- <button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button> -->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="./static/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="./static/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="picture-detail">
                            <p>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</p>
                        </div>
                    </div>
                    <!-- 其他资料 -->
                    <div class="form-group">

                        <label class="form-control-label">
                            <span>其他资料</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!-- <button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button> -->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="./static/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="./static/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <div class="picture-detail">
                            <p>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</p>
                        </div>
                    </div>
                </div>
            </div>
	
		<!--  门店参数配置-->
		<div class="form-title">
			门店参数配置
		</div>
		<div class="form-layer1">
			<div class="form-layer2">

				{# 收单设备 #}
				<div class="form-group">
					<label class="form-control-label">
                        <b>  </b>
                        <span> 收单设备 </span>
                        <em> ： </em>
                    </label>

					<div class="form-control-wrap">
						<div class="form-control-check">
							<label>
                                                POS机
                                                <input type="checkbox" name="">
                                            </label>
							<label>
                                              		  收银机
                                                <input type="checkbox" name="">
                                            </label>
					

						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- 按钮 -->
		<div class="text-align-center fn-mt-20">
			<a href="javascript:void(0);" class="btn primary" id="submit">提交</a>
			<a href="javascript:void(0);" class="btn secondary">取消</a>

			<!-- <button type="submit" class="btn primary">提交</button> -->
			<!-- <a href="首页.html" class="btn default">取消</a> -->
		</div>
	</form>
</div>

<!--选择商户弹层-->
<div class="modal-background fade display-none in" id="selectChildChannel" role="dialog" tabindex="-1" aria-hidden="false">
	<div class="modal-layer">
		<div class="modal-position">
			<div class="modal-wrap">
				<div class="modal-head">
					<span>选择商户</span>
					<button class="modal-close" title="关闭">
                        <i></i>
                    </button>
				</div>
				<div class="modal-body-alpha text-align-center fn-pb-10">
					<form class="filterBox-Alpha" action="#" method="post">
						<div class="fliter-inline-wrap">
							<div class="fliter-inline-item">
								<label>商户名称：</label>
								<div class="fliter-inline-width1">
									<div class="form-control-date smallsize">
										<input type="text" class="form-control" placeholder="关键字" data-toggle="searchInput" style="padding-right: 8px;">
									</div>
								</div>
							</div>
							<!--搜索按钮-->
							<div class="fliter-inline-item">
								<button type="button" class="btn primary small-btn">搜索</button>
							</div>
						</div>
					</form>
					<!--机构列表-->
					<div style="max-height: 450px;overflow-y: scroll;">
						<table class="table inverse">
							<colgroup>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>商户号</th>
									<th>商户名称</th>
									<th>层级</th>
									<th>所在地</th>
									<th>详细地址</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>108623</td>
									<td>百事可乐公司</td>
									<td>1</td>
									<td>北京/广州</td>
									<td>广州市天河区高盛大厦</td>
									<td>
										<a href="javascript:void(0)" class="btn primary small-btn">选择</a>
									</td>
								</tr>
								<tr>
									<td>108623</td>
									<td>百事可乐公司</td>
									<td>1</td>
									<td>北京/广州</td>
									<td>广州市天河区高盛大厦</td>
									<td>
										<a href="javascript:void(0)" class="btn primary small-btn">选择</a>
									</td>
								</tr>
								<tr>
									<td>108623</td>
									<td>百事可乐公司</td>
									<td>1</td>
									<td>北京/广州</td>
									<td>广州市天河区高盛大厦</td>
									<td>
										<a href="javascript:void(0)" class="btn primary small-btn">选择</a>
									</td>
								</tr>
								<tr>
									<td>108623</td>
									<td>百事可乐公司</td>
									<td>1</td>
									<td>北京/广州</td>
									<td>广州市天河区高盛大厦</td>
									<td>
										<a href="javascript:void(0)" class="btn primary small-btn">选择</a>
									</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div style="padding-left:20px; padding-top: 0px;">
						{# 分页 #} {{ paginationAlpha.default( id='p1' ) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--选择机构弹层-->
<div class="modal-background fade display-none in" id="selectAgency" role="dialog" tabindex="-1" aria-hidden="false">
	<div class="modal-layer">
		<div class="modal-position">
			<div class="modal-wrap">
				<div class="modal-head">
					<span>选择机构</span>
					<button class="modal-close" title="关闭">
                        <i></i>
                    </button>
				</div>
				<div class="modal-body-alpha text-align-center fn-pb-10">
					<form class="filterBox-Alpha" action="#" method="post" onsubmit="return false;">
						<div class="fliter-inline-wrap">
							<div class="fliter-inline-item">
								<label>机构名称：</label>
								<div class="fliter-inline-width1">
									<div class="form-control-date smallsize">
										<input type="text" id="keyWord" class="form-control" placeholder="关键字" data-toggle="searchInput" style="padding-right: 8px;">
									</div>
								</div>
							</div>
							<!--搜索按钮-->
							<div class="fliter-inline-item">
								<button type="button" class="btn primary small-btn" id="searchAgencys">搜索</button>
							</div>
						</div>
					</form>
					<!--机构列表-->
					<div style="max-height: 450px;overflow-y: scroll;" id="agency_search">
						<table class="table inverse">
							<colgroup>
								<col>
								<col>
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>机构号</th>
									<th>机构名称</th>
									<th>层级</th>
									<th>所在地</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<script id="agency" type="text/x-jquery-tmpl">
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td id="@{id}" name="@{name}" onclick="selectAgency(this);" class="merchantSelect">
									<a href="javascript:void(0)" class="btn primary small-btn">选择</a>
								</td>
							</tr>
						</script>
					</div>
					<div style="padding-left:20px; padding-top: 0px;">

						<div class="pagination-wrap text-align-right fn-mt-20">
							<ul class="pagination" id="p1">
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# 创建门店失败 #}
<div class="frame-container display-none">
	<div class="frame-loading">
		<span class="success-FontColor2">你当前角色不具备创建门店的权限...</span>
	</div>
</div>

{% endblock %} {% block js %}
<script src="{{ static }}/js/webuploader/webuploader.js"></script>
<script src="{{ static }}/js/webuploader/uploader.js"></script>
<script src="{{ static }}/js/clockpicker/jquery-clockpicker.min.js"></script>
{% endblock %} {% block jsPage %}
<script type="text/javascript">
	/**
	 * uploadSuccess 上传成功后回调
	 * @return {[type]} [description]
	 */
	function uploadSuccess(el, file, data) {
		/*var names = data.name.split('.');
		var name = names[0].length > 13 ? names[0].substring(0, 13) + "..." : names[0];
		$(el).siblings(".uploadName").val(data.name);
		$(el).siblings(".upload-name").text(name + "." + names[1]);
		$(el).siblings(".upload-path").val(data.path);
		$(el).siblings(".upload-size").val(data.size);*/
		// todo: test
		$(el).siblings(".upload-name").html(file.name);

	}
	$(function() {

		$(".j-type").on("change", function() {
			var isPrivateChecked = $("#private").prop("checked");
			if(isPrivateChecked) {
				$("#identity").removeClass("display-none");
			} else {
				$("#identity").addClass("display-none");
			}
		});

		/*$('.j-upload-btn').fileUpload({
		    swf: './static/js/webuploader/Uploader.swf',
		    sendurl: 'http://localhost/fileupload.php',
		    //fileVal: 'FileData',
		    success: uploadSuccess
		});*/
		//初始化上传控件
		$(".upload-img").InitUploader({ sendurl: "http://192.168.7.129/fileupload.php", swf: "./static/js/webuploader/uploader.swf" });

		$('.clockpicker').clockpicker();

		//  营业执照证件交互
		$(".certificates").on("change", function() {
			//  营业执照是否勾选
			//              var isCertificatesOneChecked = $("#certificatesOne").prop("checked");
			if($("#certificates1").prop("checked")) {
				$(".cf0").removeClass("display-none");
				$(".cf1").addClass("display-none");
				$(".cf2").addClass("display-none");
			} else if($("#certificates2").prop("checked")) {
				$(".cf0").addClass("display-none");
				$(".cf1").removeClass("display-none");
				$(".cf2").addClass("display-none");
			} else {
				$(".cf0").addClass("display-none");
				$(".cf1").addClass("display-none");
				$(".cf2").removeClass("display-none");
			}
		});

		$("#submit").on("click", function() {
			$.tipsModal({
				type: 'success', //success info error
				title: '<span class="success-FontColor2">门店创建成功！</span>',
				//close:  close ,
				// modalTitle:"test",
				// content : '<div><a href="机构管理-管理员账号（新建管理员账号）.html" class="btn secondary" role="button">商户列表</a></div>'
				content: '<div><a href="关联商户管理-门店列表.html" class="btn secondary" role="button">确定</a></div>',
			});
		});

	});
</script>
{% endblock %}