{% extends "_layout/alpha/layout-alpha-operation.html" %}

{# 加载页面专有样式表 #}
{% block css %}
    <link rel="stylesheet" href="{{ static }}/js/webuploader/style.css">
    <link rel="stylesheet" href="{{ static }}/js/clockpicker/jquery-clockpicker.min.css">
{% endblock %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '商户管理'
                },{
                    text: '创建商户'
                }
            ]
        )
    }}

    <div class="form-frame">
        <form autocomplete="off">
            <!-- 商户主体信息-->
            <div class="form-title">
              商户主体信息
            </div>
            <div class="form-layer1">
                <div class="form-layer2">
                    {# 商户名称 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 商户名称 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                    {# 商户简称 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b> * </b>
                            <span> 商户简称 </span>
                            <em> : </em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    {# 证件类型 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b> * </b>
                            <span> 证件类型 </span>
                            <em> : </em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-check">
                                <label>
                                    普通营业执照
                                    <input type="radio" id="certificatesOne" class="certificates" name="certificates" value="0" checked="checked">
                                </label>
                                <label>
                                    统一社会信用证
                                    <input type="radio" class="certificates" name="certificates" value="1">
                                </label>
                                <label>
                                    事业单位法人证书
                                    <input type="radio" class="certificates" name="certificates" value="1">
                                </label>
                            </div>
                        </div>
                    </div>
                    {# 证件号码 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b> * </b>
                            <span> 证件号码 </span>
                            <em> : </em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    
                    
                    

                    {# 所在省份 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 所在省份 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">广东</option>
                          </select>
                       </div>
                    </div>
                    {# 所在城市 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 所在城市 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">中山</option>
                          </select>
                       </div>
                    </div>
                    {# 所在区县 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 所在区县 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">0区</option>
                          </select>
                       </div>
                    </div>
                    {# 详细地址 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 详细地址 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                    {# 客服电话 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 客服电话 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" placeholder="支持手机、固话（如02081500000）或客服热线" />
                       </div>
                    </div>

                </div>
            </div>

            <!--  商户联系人信息-->
            <div class="form-title">
                商户联系人信息
            </div>
            <div class="form-layer1">
                <div class="form-layer2">
                    {# 联系人姓名 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 联系人姓名 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                    {# 联系人类型 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 联系人类型 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">法人</option>
                              <option value="0">实际控制人</option>
                              <option value="0">代理</option>
                              <option value="0">其他</option>
                          </select>
                       </div>
                    </div>
                    {# 联系人身份证号 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 联系人身份证号 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                    {# 联系人电话号码 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 联系人电话号码 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                </div>
            </div>

            <!-- 结算账户-->
            <div class="form-title">
              结算账户
            </div>
            <div class="form-layer1">
                <div class="form-layer2">
                    {# 结算账户类型 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 结算账户类型 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <div class="form-control-check">
                                <label>
                                    对公
                                    <input type="radio" class="j-type" name="type" value="0" checked="checked">
                                </label>
                                <label>
                                    对私
                                    <input type="radio" class="j-type" id="private" name="type" value="1">
                                </label>
                            </div>
                       </div>
                    </div>
                    {# 结算账户人身份 #}
                    <div id="identity" class="form-group display-none">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 结算账户人身份 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                            <div class="form-control-check">
                                <label>
                                    法人
                                    <input type="radio" name="identity" value="0" checked="checked">
                                </label>
                                <label>
                                    法人亲属
                                    <input type="radio" name="identity" value="1">
                                </label>
                            </div>
                       </div>
                    </div>
                    {# 开户行 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 开户行 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">招商银行</option>
                          </select>
                       </div>
                        <!--<style>
                            .triangle-up {
                                width: 0;
                                height: 0;
                                border-left: 3px solid transparent;
                                border-right: 3px solid transparent;
                                border-top: 7px solid black;
                                position: absolute;
                                top: 17px;
                                right: 7px;
                            }
                        </style>
                     <div class="form-control-wrap">
                                        <div class="form-control-dropdown with-keyin">
                                            <span class="triangle-up">

                                            </span>
                                            <input type="text" data-toggle="dropdown" class="form-control" id="form-control-example8" placeholder="请输入文字" value="" aria-expanded="false">
                                            <ul class="form-control-dropdown-menu">
                                                <li title="option one" style="display: block;">招商银行股份有限公司厦门海虹支行
                                                </li>
                                                <li title="option two" style="display: block;">招商银行股份有限公司厦门金湖支行
                                                </li>
                                                <li title="option three" style="display: block;">招商银行股份有限公司厦门禾祥支行
                                                </li>
                                                <li title="option four" style="display: block;">招商银行股份有限公司武汉王家湾支行
                                                </li>
                                                <li title="option five" style="display: block;" class="">招商银行股份有限公司上海九亭支行
                                                </li>
                                            </ul>
                                        </div>

                    </div>-->
                     </div>
                    {# 开户行所在省份 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 开户行所在省份 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">广东</option>
                          </select>
                       </div>
                    </div>
                    {# 开户行所在城市 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 开户行所在城市 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">广州</option>
                          </select>
                       </div>
                    </div>
                    {# 开户名称 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b> * </b>
                            <span> 开户名称 </span>
                            <em> : </em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    {# 分支行 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 分支行 </span>
                          <em> : </em>
                       </label>
                            <style>
                            .triangle-up {
                                width: 0;
                                height: 0;
                                border-left: 3px solid transparent;
                                border-right: 3px solid transparent;
                                border-top: 7px solid black;
                                position: absolute;
                                top: 17px;
                                right: 7px;
                            }
                        </style>
                     <div class="form-control-wrap">
                                        <div class="form-control-dropdown with-keyin">
                                            <span class="triangle-up">

                                            </span>
                                            <input type="text" data-toggle="dropdown" class="form-control" id="form-control-example8" placeholder="请输入文字" value="" aria-expanded="false">
                                            <ul class="form-control-dropdown-menu">
                                                <li title="option one" style="display: block;">招商银行股份有限公司厦门海虹支行
                                                </li>
                                                <li title="option two" style="display: block;">招商银行股份有限公司厦门金湖支行
                                                </li>
                                                <li title="option three" style="display: block;">招商银行股份有限公司厦门禾祥支行
                                                </li>
                                                <li title="option four" style="display: block;">招商银行股份有限公司武汉王家湾支行
                                                </li>
                                                <li title="option five" style="display: block;" class="">招商银行股份有限公司上海九亭支行
                                                </li>
                                            </ul>
                                        </div>

                    </div>
                       <!--<div class="form-control-wrap">
                          <select class="form-control">
                              <option value="0">招商银行深圳分行</option>
                          </select>
                       </div>-->
                    </div>
                    {# 账户号 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 账户号 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" />
                       </div>
                    </div>
                </div>
            </div>
            
                        <!-- 商户参数配置-->
            <div class="form-title">
                商户参数配置
            </div>
            <div class="form-layer1">
                <div class="form-layer2">
                    {# 退款日设置 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 退款日设置 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control-alpha" />

                           <div class="tooltips-icon-alpha" style="width:18px; height:18px; background-color:#009DD9; line-height:18px; border-radius: 8px; color: white;">
                               ?
                               <div class="tooltips" style="height: auto; top:-125px; text-align: left;">
                                   <div>
                                       设置0天为不可发起退款
                                   </div>
                                   <div>
                                       设置1天为当天24点前可发起退款
                                   </div>
                                   <div>
                                       设置2天为消费后第二天24点前可发起退款.以此类推
                                   </div>
                                   <div>
                                       请按照支付宝与微信退款规则最小日期设置，方可生效
                                   </div>
                                   <span class="tips-arrow-border"></span>
                                   <span class="tips-arrow"></span>
                               </div>
                           </div>

                           <!--<div data-toggle="tooltips" data-pos="bottom-right" title="设置0天为不可发起退款，-->
                           <!--设置1天为当天24点前可发起退款，-->
                           <!--设置2天为消费后第二天24点前可发起退款，-->
                           <!--以此类推。-->
                           <!--请按照支付宝与微信退款规则最小日期设置，方可生效。" class="inline-block text-align-center" style="width:16px; height:16px; background-color:#009DD9; line-height:16px; border-radius: 8px; color: white;"> ? </div>-->
                       </div>
                    </div>
                </div>
            </div>
            
            <!-- 按钮 -->
            <div class="text-align-center fn-mt-20">
                <a href="关联商户管理-创建商户(步骤1).html" class="btn secondary">上一步</a>
                <a href="javascript:void(0);" class="btn primary" id="submit">提交</a>
                <!-- <button type="submit" class="btn primary">提交</button> -->
                <!-- <a href="首页.html" class="btn default">取消</a> -->
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ static }}/js/webuploader/webuploader.js"></script>
    <script src="{{ static }}/js/webuploader/uploader.js"></script>
    <script src="{{ static }}/js/clockpicker/jquery-clockpicker.min.js"></script>
{% endblock %}

{% block jsPage %}
    <script type="text/javascript">
        /**
         * uploadSuccess 上传成功后回调
         * @return {[type]} [description]
         */
        function uploadSuccess(el, file, data) {
            /*var names = data.name.split('.');
            var name = names[0].length > 13 ? names[0].substring(0, 13) + "..." : names[0];
            $(el).siblings(".uploadName").val(data.name);
            $(el).siblings(".upload-name").text(name + "." + names[1]);
            $(el).siblings(".upload-path").val(data.path);
            $(el).siblings(".upload-size").val(data.size);*/
            // todo: test
            $(el).siblings(".upload-name").html(file.name);

        }
        $(function(){

            $(".j-type").on("change",function(){
                var isPrivateChecked = $("#private").prop("checked");
                if(isPrivateChecked){
                    $("#identity").removeClass("display-none");
                }else{
                    $("#identity").addClass("display-none");
                }
            });

            /*$('.j-upload-btn').fileUpload({
                swf: './static/js/webuploader/Uploader.swf',
                sendurl: 'http://localhost/fileupload.php',
                //fileVal: 'FileData',
                success: uploadSuccess
            });*/
            //初始化上传控件
            $(".upload-img").InitUploader({ sendurl: "http://192.168.7.129/fileupload.php", swf: "./static/js/webuploader/uploader.swf" });

            $('.clockpicker').clockpicker();

            //  营业执照证件交互
            $(".certificates").on("change",function(){
              //  营业执照是否勾选
              var isCertificatesOneChecked = $("#certificatesOne").prop("checked");

              if(isCertificatesOneChecked){
                $(".cf0").removeClass("display-none");
                $(".cf1").addClass("display-none");
              }else{
                $(".cf0").addClass("display-none");
                $(".cf1").removeClass("display-none");
              }
            });

            $("#submit").on("click",function(){
                $.tipsModal({
                    type : 'success',   //success info error
                    title : '<span class="success-FontColor2">商户创建成功！</span>',
//                    close:  close ,
                   // modalTitle:"test",
                   // content : '<div><a href="机构管理-管理员账号（新建管理员账号）.html" class="btn secondary" role="button">商户列表</a></div>'
                    content : '<div><a href="商户合同管理-创建合同.html" class="btn secondary" role="button">创建合同</a></div>',
                });
            });

        });
    </script>
{% endblock %}
