{% extends "_layout/alpha/layout-agreement-alpha.html" %}

{# 菜单导航 #}
{% block header %}
{{ headerAlpha.defaultNOuserInfo( projectName='合作协议说明' ) }}
{% endblock %}

{# 内容 #}
{% block content %}

<div style="width: 70%; margin: 0 auto;">
  <h1 class="text-align-center fn-mb-30">
    合作协议说明
  </h1>
  <ul class="agreement-list-1">
    <li>
      <span class="count">1</span>
      下载《<a href="" class="link-standard">企业收款业务创新合作协议</a>》
    </li>
    <li>
      <span class="count">2</span>
      协议内容及费率确认
    </li>
    <li>
      <span class="count">3</span>
      合作银行进行协议签署，签署猴协议（4份）邮寄到以下地址：
      <div class="agreement-table-1 fn-mt-10">
        <table>
          <tr>
            <td>
              收件人：
            </td>
            <td>
              毛诚坤
            </td>
          </tr>
          <tr>
            <td>
              联系电话：
            </td>
            <td>
              18602002904
            </td>
          </tr>
          <tr>
            <td>
              邮寄地址：
            </td>
            <td>
              广东省广州市天河区体育西路109号高盛大厦8楼B室
            </td>
          </tr>
        </table>
      </div>
    </li>
    <li>
      <span class="count">4</span>
      我司完成协议盖章，回寄协议（2份）給行方
    </li>
  </ul>

  <p><b>商务联系人：</b>毛诚坤</p>
  <br>
  <p><b>商务联系电话：</b>18602002904</p>
  <br>
  <p><b>商务联系邮箱：</b>chengkun.mao@frontpay.cn</p>
</div>

{% endblock %}
