{% extends "_layout/alpha/layout-alpha-channel.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '子商户管理'
                },
                {
                    link: 'javascript:void(0);',
                    text: '子商户列表'
                },
                {
                    text: '管理员'
                }
            ]
        )
    }}

    {# 表格 #}
    {{
        tableAlpha.default(
            data={
                theadList: [
                    {
                        inner: '账号名称'
                    },
                    {
                        inner: '姓名'
                    }, {
inner: '手机号码'
},
                    {
                        inner: '账号角色'
                    },
                    {
                        inner: '创建时间'
                    },
                    {
                        inner: '状态'
                    },
                    {
                        inner: '操作'
                    }
                ],
                tbodyList: [
                    [
                        {
                            inner: 'yoiuug'
                        },
                        {
                            inner: '张三'
                        }, {
inner: '159789552455'
},
                        {
                            inner: '超级管理员'
                        },
                        {
                            inner: '
                                <span class="text-nowrap">
                                    2015-05-25
                                </span>
                                <br />
                                <span class="text-nowrap viceText-FontColor">
                                    10:25:36
                                </span>'
                        },
                        {
                            inner: '启用'
                        },
                        {
                            inner: '
                                <a href="子商户管理-商户列表-管理员账号-查看.html" class="link-standard">
                                    查看
                                </a> &nbsp; &nbsp;
                                <a href="子商户管理-商户列表-管理员账号-编辑.html" class="link-standard">
                                    编辑
                                </a> &nbsp; &nbsp;
                                <a href="javaScript:void(0);" class="link-standard admin-disabled">
                                    禁用
                                </a>
                            '
                        }
                    ],[
                        {
                        inner: 'yoiuug'
                        },
                        {
                        inner: '张三'
                        }, {
inner: '486416541351'
},
                        {
                        inner: '超级管理员'
                        },
                        {
                        inner: '
                        <span class="text-nowrap">
                                                            2015-05-25
                                                        </span>
                        <br />
                        <span class="text-nowrap viceText-FontColor">
                                                            10:25:36
                                                        </span>'
                        },
                        {
                        inner: '启用'
                        },
                        {
                        inner: '
                        <a href="javaScript:void(0);" class="link-standard sendMsg">
                            发送激活短信
                        </a>
                        '
                        }
                    ]
                ]
            },
            fixedClass='fn-pt-20'
        )
    }}

{% endblock %}

{% block jsPage %}
    <script>
        $(function(){

            //禁用
            $(".admin-disabled").on("click",function(){
                $.tipsModal({
                    close:  close ,
                    // modalTitle:"test",
                    type : 'info',   //  success info error
                    title : '<span class="warning-FontColor">禁用</span>',
                    content : '禁用后，该账号将不可登录商户管理后台，确定禁用？',
                    buttons : {  //  按钮可以只传ok或cancel
                      ok : {
                        text : '确定',
                        callback : function () {
                          alert('确定');
                        }
                      },
                      cancel : {
                        text : '取消',
                        callback : function () {
                          alert('取消');
                        }
                      }
                    }
                });
            });

            //发送短信
            $(".sendMsg").on("click",function(){
                $.tipsModal({
                    close:  close ,
                    // modalTitle:"test",
                    type : 'success',   //  success info error
                    title : '<span class="success-FontColor2">短信发送成功！</span>',
                    content : '',
//                    buttons : {  //  按钮可以只传ok或cancel
//                        ok : {
//                            text : '确定',
//                            callback : function () {
//                                alert('确定');
//                            }
//                        },
//                        cancel : {
//                            text : '取消',
//                            callback : function () {
//                                alert('取消');
//                            }
//                        }
//                    }
                });
            });
        });
    </script>
{% endblock %}
