{% extends "_layout/alpha/layout-alpha-channel.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text:'数据报表'
                },
                {
                    text: '交易数据报表'
                }
            ]
        )
    }}


{# 数据过滤器 #}
<div class="filter-table-wrap fn-mt-20">
    <table class="filter-table fn-pb-20">
        <colgroup>
            <col style="width:30%">
            <col style="width:35%">
            <col style="width: 30%">
        </colgroup>
        <tr>
            <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>门店名称
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <input type="text" class="form-control smallsize" placeholder="">
                    </div>
                </div>
            </td>
             <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>付款人
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <input type="text" class="form-control smallsize" placeholder="">
                    </div>
                </div>
            </td>
             <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>支付方式
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                            <option value="">
                                全部
                            </option>
                            <option value="">
                                支付宝条码支付
                            </option>
                            <option value="">
                                支付宝扫码支付
                            </option>
                            <option value="">
                                支付宝手机网站支付
                            </option>
                            <option value="">
                                支付宝统一下单
                            </option>
                            <option value="">
                                微信刷卡支付
                            </option>
                            <option value="">
                                微信扫码
                            </option>
                            <option value="">
                                微信公众号支付
                            </option>
                        </select>
                    </div>
                </div>
            </td>
            </tr>
            <tr>
            <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>交易类型
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                            <option value="">
                                全部
                            </option>
                            <option value="">
                                支付宝条码支付
                            </option>
                            <option value="">
                                支付宝扫码支付
                            </option>
                            <option value="">
                                支付宝手机网站支付
                            </option>
                            <option value="">
                                支付宝统一下单
                            </option>
                            <option value="">
                                微信刷卡支付
                            </option>
                            <option value="">
                                微信扫码
                            </option>
                            <option value="">
                                微信公众号支付
                            </option>
                        </select>
                    </div>
                </div>
            </td>
             <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>收银员
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <input type="text" class="form-control smallsize" placeholder="">
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>状态
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                            <option value="">
                                全部
                            </option>
                            <option value="">
                                交易成功
                            </option>
                            <option value="">
                                交易失败
                            </option>
                            <option value="">
                                等待处理
                            </option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	  <td colspan="3">
                <div class="form-group inline-filter">
                    <label class="form-control-label ">
                        <span> 交易日期 </span>
                        <em> ：</em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-check smallsize">
                            <label>
                                今天
                                <input type="radio" id="certificates1" class="certificates" name="certificates" value="0" checked="checked">
                            </label>
                            <label>
                                最近7天
                                <input type="radio" id="certificates2" class="certificates" name="certificates" value="1">
                            </label>
                            <label>
                                最近30天
                                <input type="radio" id="certificates3" class="certificates" name="certificates" value="2">
                            </label>
                            <label>
                                其他
                                <input type="radio" id="certificates4" class="certificates" name="certificates" value="2">
                            </label>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td>
						<div class="form-group inline-filter">
							<label class="form-control-label">

                          <span> 起始日期</span>
                         <em> ：</em>
                       </label>
						<div class="group-time">
							<div class="form-control-date smallsize form-control-wrap float-left">
								<span class="form-control-date-btn">
                                <i></i>
                            </span>
								<input class="form-control small-btn" value="" type="text" data-toggle="datetimepicker" readonly='readonly'>
							</div>


						</div>
							</div>
		</td>
		<td>
			 <div class="form-group inline-filter">
                    <label class="form-control-label">
                            <span>终止日期
                            </span>
                        <em>：
                        </em>
                    </label>
                    <div class="form-control-wrap smallsize">
                        <div class="fliter-inline-width1">
                            <div class="form-control-date smallsize">
                        <span class="form-control-date-btn">
                            <i></i>
                        </span>
                                <input class="form-control" type="text" value="" data-toggle="datetimepicker" readonly='readonly'/>
                            </div>
                        </div>
                    </div>
                </div>
		</td>

        	<td>
        		 <div class="text-align-right plural-btns">
                    <button type="button" class="btn primary small-btn">查找</button>
                    <button type="button" class="btn secondary small-btn">导出excel</button>
                     <button type="button" class="btn secondary small-btn">导出PDF</button>
                </div>
        	</td>

        </tr>
        <tr></tr>
    </table>

</div>



{{
contentBoxAlpha.default(
list = [
{
title:'合计成功收款金额(元)',
content:'9000'
},
{
title:'合计成功收款笔数(笔)',
content:'8142515'
},{
title:'合计成功退款金额(元)',
content:'9225000'
},{
title:'合计成功退款笔数(笔)',
content:'9225000'
}
]
)
}}

{#
    <div class="fn-mt-10 fn-mb-10">
        共计：交易总笔数：<span style="font-weight: 900">5,000 </span>笔，交易总金额：<span style="font-weight: 900">100,000.00</span> 元，实收总金额：<span style="font-weight: 900">90,000.00</span> 元

        <a href="###" class="link-standard fn-ml-50">导出报表</a>
    </div>
#}

<table class="table inverse">
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width: 10%" />
        <col />
        <col />
    </colgroup>
    <thead>
    <tr>
    	<th>订单号</th>
        <th>交易号</th>
        <th>门店名称</th>
        <th>交易时间</th>
        <th>付款人</th>
        <th>收银员</th>
        <th>交易金额(元)</th>
        <th>状态</th>
        <th>支付方式</th>
        <th>交易类型</th>
        <th>操作</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15415615</td>
        <td>
            343242343243243
        </td>
        <td>九毛九</td>
        <td>280250</td>
        <td>280250</td>
        <td>微信扫码支付</td>
        <td>
            2017-01-21 15:45:54
        </td>
        <td>九毛九</td>
        <td>交易成功</td>
         <td>付款</td>
        <td>
        	<a class="link-standard" href="数据报表-交易数据报表（发起退款）.html">退款</a>
        	<a class="link-standard" href="数据报表-订单列表-订单详情.html">详情</a>

        </td>
    </tr>
    <tr>
        <td>15415615</td>
        <td>
            343242343243243
        </td>
        <td>280250</td>
        <td>九毛九</td>
        <td>280250</td>
        <td>微信扫码支付</td>
        <td>
            2017-01-21 15:45:54
        </td>
        <td>九毛九</td>
        <td>交易成功</td>
         <td>付款</td>
               <td>
               	<a class="link-standard" href="数据报表-交易数据报表（发起退款）.html">退款</a>
               	<a class="link-standard" href="数据报表-订单列表-订单详情.html">详情</a>

        </td>
    </tr>


    <!-- 暂无记录 -->
    <!-- <tr>
        <td colspan="8" class="empty">&nbsp;
        </td>
    </tr> -->
    </tbody>
</table>

{# 分页 #}
{{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>

    $('.secondary').click(function(){

    	            $.tipsModal({
                // modalTitle:"test",
                type : 'info',   //success info error
               //  title : '<p class="success-FontColor2">预计<span class="dTime warning-FontColor h3 fn-pl-5 fn-pr-5"> </span>秒后返回结果</p>',
                title : '<p class="success-FontColor2">仅支持导出一天的交易数据！ </p><p>请选择交易日期</p>',
             //   title : '<p class="warning-FontColor">退款失败! </p>',
             //  title : '<p class="warning-FontColor">当前订单不符合退款条件! </p>',
                content : '<div><a href="数据报表-交易数据报表.html" class="btn secondary" role="button">确定</a></div>',
//                 buttons : {  //按钮可以只传ok或cancel
//                     ok : {
//                     text : '确定', callback : function () {
//                             console.log('确定');
//                             clearInterval(timers)
//                             window.location.href='数据报表-交易数据报表.html';
//                         }
//                     }
//                 }
           });
    })




            var c = 35;
            var timers = setInterval(function(){
                if(c>0){
                    c--;
                    $(".dTime").text(c);
                } else {
                    clearInterval(timers)
                }
            },1000)




    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();
</script>
{% endblock %}
